<div class="form-group">
  <form action="/words" method="post">
    <div class="form-group">
      <label for="word_text">Add a word:</label>
      <input class="form-control" name="word_text" type="text">
    </div>
    <button class="btn btn-dark" type="submit">Add</button>
  </form>
</div>

<br>
<hr>

<p><a class="link" href="/words">🔙Return to my list of words</a></p>
