<div class="row">
  <div class="col-md-6">

    <div class="form-group">

      <h3>Add a word:</h3>

      <form action="/words" method="post">
        <div class="form-group">
          <input id="n" name="word_text" class="form-control" type="text">
        </div>
        <button type="submit" class="btn btn-dark">Add</button>
      </form>

    </div>

    <p><a href="/words">🔙Return to list</a></p>

  </div>
</div>
