<div class="row">
  
  <div class="col-md-6">
    <h3>Your words:</h3>
    <% if @words.any? %>
    <ul>
      <% @words.each do |word| %>
      <li><a class="word" href="/words/<%= word.id %>"><%= word.text %></a></li>
      <% end %>
    </ul>
    <br>
    <p><a class="link" href="/words/add">➕Add another word</a> or click on an existing word to learn more!</p>
    <% else %>
    <br>
    <p>You don't have any words yet. <a class="link" href="/words/add">➕Add a word</a> to get started!</p>
    <% end %>
  </div>

  <div class="col-md-6">
    <div class="box">
      <form action="/words">
        <div class="form-group">
          <label for="search">Where's my word?</label>
          <input class="form-control" name="search" type="text">
        </div>
        <button class="btn btn-dark" type="submit">Search</button>
        <a class="link" href="/words">🔙Return to my list of words</a>
      </form>
    </div>
  </div>

</div>
