<div class="row">
  <div class="col-md-8">
    <h3>Your words:</h3>
    <% if @words.any? %>
    <ul>
      <% @words.each do |word| %>
      <li><a href="/words/<%= word.id %>"><strong><%= word.name %></strong></a></li>
      <% end %>
    </ul>
    <a href="/albums/new" class="link">Add a new word</a>
    <% else %>
    <p>You don't have any words yet. <a href="/albums/new" class="link">Add a new word</a> to get started!</p>
    <% end %>
  </div>
  <div class="col-md-4">
    <h3>Find a word:</h3>
    <form action="/words">
      <div class="form-group">
        <input id="find-by-word" name="find-by-word" class="form-control" type="text">
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </div>
</div>
